<template>
	<el-button :type="color" :round="isRounded" :disabled="isDisabled" :size="size" :id="id" :icon="icon" :native-type="type">{{content}}</el-button>
</template>
<script>
	export default {
		data() {
			return {
				form: {
					name: "",
				}
			}
		},
		computed: {
			isRounded() {
				if (this.rounded == "true") {
					return true
				} else {
					return false
				}
			},
			isDisabled() {
				if (this.disabled == "true") {
					return true
				} else {
					return false
				}
			}
		},
		props: {
			color: {
				type: String,
			},
			content: {
				type: String,
				default: "CLICK"
			},
			rounded: {
				type: String,
				default: true
			},
			size: {
				type: String
			},
			disabled: {
				type: Boolean,
				default: false
			},
			id: {
				type: String
			},
			icon: {
				type: String,
			},
			type: {
				type: String,
				default: 'button',
			}
		}
	}
</script>