<template>
	<div id="test">
		<el-checkbox :name="name" :label="p.id" v-for="p in permissions" :key="p.id" :checked="value.includes(p.id)">{{ p.name }}</el-checkbox>
	</div>
</template>
<script>
	export default {
	  props: {
	    name: "",
	    value: ""
	  },
	  data() {
	    return {
	      permissions: null
	    };
	  },
	  created() {
	    axios.get("/json/permission/list").then(response => {
	      this.permissions = response.data;
	    });
	  }
	};
</script>