<template>
	<el-form-item :label="label">
		<el-checkbox-group v-model='checkList'>
			<el-checkbox :name="name" :label="data.name" v-for="(data,index) in changeData" :key="index" :value="data.name"></el-checkbox>
		</el-checkbox-group>
	</el-form-item>
</template>
<script>
	export default {
		props: {
			name: {
				type: String
			},
			label: {
				type: String
			},
			getData: {
				type: String
			}
		},
		data() {
			return {
				checkList: [],
				arrayList: []
			};
		},
		computed: {
			changeData() {
				return JSON.parse(this.getData)
			}
		}

	};
</script>