<template>
    <el-checkbox-group v-model='checkList' @click="pushdata">
        <el-checkbox :name="name" :label="data.name" v-for="data in getDatas" :key="data.name">{{ data.name }}</el-checkbox>
    </el-checkbox-group>
</template>
<script>
    export default {
        props: {
            name: "",
            value: "",
            getJson: ""
        },
        data() {
            return {
                getDatas: null,
                checkList: [],
            };
        },
        mounted() {
            axios.get(this.getJson).then(response => {
                this.getDatas = response.data;
            });
        }
    };
</script>