<template>
	<el-form-item :label="label">
		<el-date-picker v-model="form.date" :type="type" :placeholder="placeholder" :name="name" :picker-options="option" :format="format" :id="id">
		</el-date-picker>
	</el-form-item>
</template>
<script>
	export default {
		data() {
			return {
				form: {
					date: "",
				}
			}
		},
		computed: {
			format() {
				if (this.type.indexOf("time") > -1) {
					return "yyyy/MM/dd HH:mm:ss"
				} else {
					return "yyyy/MM/dd"
				}
			},
			option() {
				if (this.picker == "noafter") {
					let noafter = {
						disabledDate: (time) => {
							return time >= new Date()
						}
					}
					return noafter
				} else if (this.picker == "nobefore") {
					let nobefore = {
						disabledDate: (time) => {
							return time <= new Date()
						}
					}
					return nobefore
				} else {
					return ""
				}
			}
		},
		props: {
			label: {
				type: String,
				default: "日期"
			},
			type: {
				type: String,
				default: "date",
			},
			name: {
				type: String,
				required: true
			},
			placeholder: {
				type: String,
				default: "請選擇日期"
			},
			picker: {
				type: String
			},
			id: {
				type: String
			}
		}
	}
</script>
<style>
	.el-date-editor.el-input {
	  width: 100%;
	}
</style>