<template>
	<el-form-item :label="label">
		<el-date-picker v-model="form.dateTimeRange" :type="type" range-spearation="至" :start-placeholder="startPlaceholder" :end-placeholder="endPlaceholder" :name="name" :format="format" :picker-options="option">
		</el-date-picker>
	</el-form-item>
</template>
<script>
	export default {
		data() {
			return {
				form: {
					dateTimeRange: "",
				}
			}
		},
		computed: {
			format() {
				if (this.type.indexOf("time") > -1) {
					return "yyyy/MM/dd HH:mm:ss"
				} else {
					return "yyyy/MM/dd"
				}
			},
			option() {
				if (this.picker == "noafter") {
					let noafter = {
						disabledDate: (time) => {
							return time >= new Date()
						}
					}
					return noafter
				} else if (this.picker == "nobefore") {
					let nobefore = {
						disabledDate: (time) => {
							return time <= new Date()
						}
					}
					return nobefore
				} else {
					return ""
				}
			}
		},
		props: {
			label: {
				type: String,
			},
			name: {
				type: String,
				required: true
			},
			type: {
				type: String,
				default: "daterange",
			},
			startPlaceholder: {
				type: String,
				default: "請選擇開始日期"
			},
			endPlaceholder: {
				type: String,
				default: "請選擇結束日期"
			},
			picker: {
				type: String
			}
		}
	}
</script>
<style>
	.el-date-editor--datetimerange.el-input,
	.el-date-editor--datetimerange.el-input__inner {
	  width: 100%;
	}
</style>