<template>
	<el-form-item :label="label">
		<el-input v-model="form.name" :name="name" :placeholder="placeholder" :id="id" :type="type"></el-input>
	</el-form-item>
</template>
<script>
	export default {
		data() {
			return {
				form: {
					name: "",
				}
			}
		},
		props: {
			type: {
				type: String,
				default: "text"
			},
			label: {
				type: String,
				default: function () {
					if (this.type == "email") {
						return "Email"
					} else if (this.type == "password") {
						return "密碼"
					}
				}
			},
			name: {
				type: String,
				default: function () {
					if (this.type == "email") {
						return "email"
					} else if (this.type == "password") {
						return "password"
					}
				}
			},
			placeholder: {
				type: String,
				default: function () {
					if (this.type == "email") {
						return "請輸入Email"
					} else if (this.type == "password") {
						return "請輸入密碼"
					}
				}
			},
			id: {
				type: String
			}
		}
	}
</script>