<template>
	<el-form-item :label="label">
		<el-select v-model='selectList' filterable placeholder="請選擇" :multiple="isMuti">
			<el-option :name="name" :label="data.name" v-for="(data,index) in changeData" :key="index" :value="data.name"></el-option>
		</el-select>
	</el-form-item>
</template>
<script>
	export default {
		props: {
			name: {
				type: String
			},
			label: {
				type: String
			},
			getData: {
				type: String
			},
			muti: {
				type: String,
				default: false
			}
		},
		data() {
			return {
				arrayList: [],
				selectList: []
			}
		},
		computed: {
			isMuti() {
				if (this.muti == "true") {
					return true
				} else {
					return false
				}
			},
			changeData() {
				return JSON.parse(this.getData)
			}
		},
	};
</script>
<style scoped>
	.el-select {
	  width: 100%;
	}
</style>