<template>
    <el-table :data="changeData" style="width: 100%">
        <el-table-column type="selection" width="55">
        </el-table-column>
        <el-table-column fixed prop="id" label="id" width="60" sortable>
        </el-table-column>
        <el-table-column prop="first_name" label="名">
        </el-table-column>
        <el-table-column prop="last_name" label="姓">
        </el-table-column>
        <el-table-column prop="email" label="Email">
        </el-table-column>
        <el-table-column prop="gender" label="性別" :filters="[{text: '男性', value: 'Male'},{text: '女性', value: 'Female'}]" :filter-method="filterHandler">
        </el-table-column>
        <el-table-column prop="sales" label="業績" sortable>
        </el-table-column>
        <el-table-column fixed="right" label="操作" width="100">
            <template slot-scope="scope">
                <el-button @click="handleClick(scope.row)" type="text" size="small">詳細</el-button>
                <el-button type="text" size="small">刪除</el-button>
            </template>
        </el-table-column>
    </el-table>
</template>

<script>
    export default {
        props: {
            getData: {
                type: String
            }
        },
        computed: {
            changeData() {
                return JSON.parse(this.getData)
            }
        },
        methods: {
            handleClick(row) {
                console.log(row)
            },
            filterTag(value, row) {
                return row.tag === value;
            },
            filterHandler(value, row, column) {
                const property = column['property'];
                return row[property] === value;
            }
        }
    }
</script>